API_TOKEN=your_api_token_here
CUSTOM_HEADER_VALUE=your_custom_header_value
DATABASE_URL=postgresql://tu_usuario_db:tu_password_db@tu_host_de_supabase:5432/tu_nombre_db
DB_PASSWORD=tu_password_db
NODE_ENV=desarrollo
PORT=3000
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h